.ant-select {
  width: 100px;
  /* background: rgba(28, 32, 63, 0.5); */
}

.ant-select > .ant-select-selector {
  border: transparent !important;
  background: rgba(28, 32, 63, 0.5) !important;
}

.ant-select-dropdown {
  background: #2c325c;
  color: #fff;
  min-width: 180px !important;
  padding: 10px;

  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.3);
}

.ant-select-dropdown .select-item.select-item-option {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ant-select-dropdown input {
  margin-top: 12px;
  border-color: transparent;
  color: #fff;
  width: 160px;
  height: 40px;
  border-radius: 4px;
  flex: 'auto';
  background: #23284d;
}

.ant-select-dropdown .action-button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-select-dropdown .add-custom-tag {
}

.ant-select-dropdown .add-custom-tag button {
  width: 100%;
}

.ant-select-dropdown input::placeholder {
  color: #757ebb;
  opacity: 1; /* Firefox */
}
